# Visual Studio
.vs/
**/.vs/
*.suo
*.user
*.rsuser
*.userosscache
*.sln.docstates

# Compilación
**/bin/
**/obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# Temporales WPF
*_wpftmp.csproj
*.g.cs
*.g.i.cs

# Logs y caché
*.log
*.cache
TestResults/
artifacts/

# Publicación local
publish/
*.pubxml
*.publish.xml

# Sistema operativo
Thumbs.db
Desktop.ini
.DS_Store